@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --primary-light: #009EE3;
  --primary: #00548E;
  --secondary-light: #a9a7a7;
  --secondary: #7F7F7F;
  --white: #ffffff;
  --black: #111111;
  --gray-1: #FAFAFA;
  --gray-2: #EBEBEB;
  --gray-3: #BABBBC;
  --gray-4: #6E6E6E;
  --red-1: #FCF4F5;
  --red-2: #F9EBEC;
  --red-3: #e8646f;
  --red-4: #DC3545;

  /* Spacing */
  --spacing-xxxs: .125rem;
  --spacing-xxs: .25rem;
  --spacing-xs: .5rem;
  --spacing-s: .75rem;
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 3rem;
  --spacing-xxxl: 5rem;
}

